<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <title>Welcome</title>
</head>
<body>  
    <div class="formbox">
        <div id="form-element">
            <form id="dataForm" method="post">
                <div id="passwordDiv"><label>This lobby has a password:</label><input type="password", name="password"><br></div>
                <div hidden><input id="lobbyId" type="text" name="lobbyId"></div>
            </form>
            <button class="form-button" onclick="submit()">Continue</button>
        </div>
    </div>
</body>
<script>
    function submit(){
        document.getElementById("lobbyId").value = new URLSearchParams(window.location.search).get("id");
        document.getElementById("dataForm").action="/password";
        document.getElementById("dataForm").submit();
    }
</script>
</html>